@import 'color.scss';
@import 'responsive.scss';

.outer {
  position: relative;
  width: 30px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: .8em;
  // line-height: 4em;
  text-transform: uppercase;
  color: $font-color;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: '';
  height: 2px;
  width: inherit;
  background: $golden-color;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 48%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

/*desktop*/
@include lg {
  .outer {
    position: relative;
    width: 50px;
    cursor: pointer;
  }
}
