<div class="footerMenu">
  <div class="adress">
    <p>Maison Chine Nouvelle Aquitaine</p>
    <p>Le Puzzle, rue Jean Giono 33700 Mérignac</p>
    <p>06.22.13.77.38/06.84.73.70.47</p>
  </div>

  <p><a href="mailto:mcna.aquitaine@gmail.com">{{"contact" | translate}}</a></p>

  <p><a routerLink="/mentions-legales" routerLinkActive="active">{{"menu.legalNotice" | translate}}</a></p>


  <p class="socialNetwork"><a href="https://www.facebook.com/Maison-Chine-Nouvelle-Aquitaine-110341753878956/"
      target="_blank"><img src="../../../assets/images/home/medias/facebook.svg" alt="facebook"></a>
  </p>
</div>
