<section id="legalNotice">
  <article>
    <h1>Mentions légales</h1>

    <div>
      <h2>Nom de l’association :</h2>
      <p>Maison Chine Nouvelle Aquitaine</p>
      <address>Le Puzzle, rue Jean Giono 33700 Mérignac</address>
      <p>06.22.13.77.38/06.84.73.70.47</p>

      <h2>Directeur de la publication :</h2>
      <p>Marie Zhang<br>
        06.22.13.77.38<br>
        mcna.aquitaine@gmail.com
      </p>
      <h2>Hébergeur :</h2>
      <address>
        OVH<br />
        SAS au capital de 10 000 000 €<br />
        RCS Roubaix – Tourcoing 424 761 419 00045<br />
        Code APE 6202A<br />
        N° TVA : FR 22 424 761 419<br />
        Siège social : 2 rue Kellermann – 59100 Roubaix – France.
      </address>

      <h2>Concepteur :</h2>
      <address>
        Anthony Boulord<br />
        33320 Eysines<br />
        <a href="https://www.anthony-boulord.fr/" target="_blank">Site: www.anthony-boulord.fr</a><br />
      </address>
    </div>
  </article>
</section>
